In [33]:
import pandas as pd

1) Isolate the non-nulls in the *alcohol* series and assign them to the variable *wine_servings*.

In [34]:
alcohol = pd.read_csv('https://andybek.com/pandas-drinks', usecols=['country', 'wine_servings'], index_col='country')

In [35]:
alcohol = alcohol.squeeze()
alcohol

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

In [36]:
wine_servings = alcohol[alcohol.notnull()]
wine_servings

country
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
                     ...
Vanuatu               11.0
Venezuela              3.0
Vietnam                1.0
Zambia                 4.0
Zimbabwe               4.0
Name: wine_servings, Length: 162, dtype: float64

(alcohol[alcohol.notnull()]) **filters out** entire rows where any column has a null value, while the second approach (alcohol.notnull()) generates a Boolean DataFrame indicating null (False) and not null (True) values element-wise in the original DataFrame.

2) What is the total wine consumed by countries in *wine_servings*?

In [37]:
total_wine = wine_servings.sum()
total_wine

8221.0

3) In the *wine_servings* dataset, what was the total wine consumed by countries that consumed less than 100 servings?

*Hint*: apply a boolean mask to identify such countries, then sum().

In [38]:
wine_servings[ wine_servings < 100].sum()

2416.0

In [39]:
alcohol.dropna(inplace = False)

country
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
                     ...
Vanuatu               11.0
Venezuela              3.0
Vietnam                1.0
Zambia                 4.0
Zimbabwe               4.0
Name: wine_servings, Length: 162, dtype: float64

In [40]:
alcohol

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

2.1) Select all the countries from *alcohol* that have more than 50 wine servings, and save them (and the corresponding values) in a variable *fifty_plus*.

In [42]:
fifty_plus = alcohol[ alcohol >50 ]
fifty_plus

country
Albania                54.0
Andorra               312.0
Argentina             221.0
Australia             212.0
Austria               191.0
Bahamas                51.0
Belgium               212.0
Bulgaria               94.0
Chile                 172.0
Cook Islands           74.0
Croatia               254.0
Cyprus                113.0
Czech Republic        134.0
Denmark               278.0
Equatorial Guinea     233.0
Estonia                59.0
Finland                97.0
Gabon                  59.0
Georgia               149.0
Germany               175.0
Greece                218.0
Hungary               185.0
Iceland                78.0
Ireland               165.0
Italy                 237.0
Laos                  123.0
Latvia                 62.0
Lithuania              56.0
Luxembourg            271.0
Montenegro            128.0
New Zealand           175.0
Norway                129.0
Paraguay               74.0
Poland                 56.0
Portugal              339.0
Romania               167.0
Russian Federation     73.0
St. Lucia              71.0
Serbia                127.0
Seychelles             51.0
Slovakia              116.0
Slovenia              276.0
South Africa           81.0
Spain                 112.0
Sweden                186.0
Macedonia              86.0
United Kingdom        195.0
USA                    84.0
Name: wine_servings, dtype: float64

2.2) From *fifty_plus*, choose the countries with the smallest 20 wine servings values.

In [52]:
smallest_20 = fifty_plus.sort_values().iloc[0:20]
smallest_20

country
Seychelles             51.0
Bahamas                51.0
Albania                54.0
Poland                 56.0
Lithuania              56.0
Gabon                  59.0
Estonia                59.0
Latvia                 62.0
St. Lucia              71.0
Russian Federation     73.0
Paraguay               74.0
Cook Islands           74.0
Iceland                78.0
South Africa           81.0
USA                    84.0
Macedonia              86.0
Bulgaria               94.0
Finland                97.0
Spain                 112.0
Cyprus                113.0
Name: wine_servings, dtype: float64

In [56]:
fifty_plus.nsmallest(n=20)

country
Portugal             339.0
Andorra              312.0
Denmark              278.0
Slovenia             276.0
Luxembourg           271.0
Croatia              254.0
Italy                237.0
Equatorial Guinea    233.0
Argentina            221.0
Greece               218.0
Australia            212.0
Belgium              212.0
United Kingdom       195.0
Austria              191.0
Sweden               186.0
Hungary              185.0
Germany              175.0
New Zealand          175.0
Chile                172.0
Romania              167.0
Name: wine_servings, dtype: float64

In [57]:
fifty_plus.nlargest(n=20)

country
Portugal             339.0
Andorra              312.0
Denmark              278.0
Slovenia             276.0
Luxembourg           271.0
Croatia              254.0
Italy                237.0
Equatorial Guinea    233.0
Argentina            221.0
Greece               218.0
Australia            212.0
Belgium              212.0
United Kingdom       195.0
Austria              191.0
Sweden               186.0
Hungary              185.0
Germany              175.0
New Zealand          175.0
Chile                172.0
Romania              167.0
Name: wine_servings, dtype: float64

2.3) What is the mean, median and standard deviation for the sample from Step 2?

In [58]:
smallest_20.mean()

74.25

In [59]:
smallest_20.median()

73.5

In [60]:
smallest_20.std()

19.07292100831631